body {
	font-family: 'Roboto', sans-serif;
	margin: 20px;
}

p {
	white-space: pre-line;
	font-size: 24pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

form.inputForm {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 10px;
	grid-auto-rows: min-content;
}

p.inputForm {
	margin: 0;
	align-self: center;
}

.flagSelector {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 0px;
	grid-auto-rows: min-content;
}

img.flag {
	width: 262;
	height: 150;
	border: 6px solid white;
	transition: border 0.25s;
}

img.flag:hover {
	border: 6px solid gray;
	transition: border 0.25s;
}

.settings {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 5px;
	grid-auto-rows: min-content;
	align-self: center;
}

p.settings {
	font-size: 14pt;
	margin: 0;
}

.textfield {
	padding: 5px;
	font-size: 24pt;
	border: 2px solid #000000;
	border-radius: 4px;
	transition: border 0.5s;
}

.textfield:focus {
	border: 2px solid #33cccc;
	transition: border 0.2s;
}
