body {
	font-family: Arial;
	margin: 20px;
}

p {
	white-space: pre-line;
	font-size: 24pt;
}

form.inputForm {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 10px;
	grid-auto-rows: min-content;
}

p.inputForm {
	margin: 0;
	align-self: center;
}

.settings {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 5px;
	grid-auto-rows: min-content;
	align-self: center;
}

p.settings {
	font-size: 14pt;
	margin: 0;
}

.textfield {
	padding: 5px;
	font-size: 24pt;
	border: 2px solid #000000;
	border-radius: 4px;
	transition: border 0.5s;
}

.textfield:focus {
	border: 2px solid #33cccc;
	transition: border 0.2s;
}
