body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: #303030;
	margin: 20px;
}

p {
	white-space: pre-line;
	font-size: 24pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=button] {
	background-color: Transparent;
	border: 1px solid white;
	color: white;
	font-size: 16pt;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	transition: color 0.5s, background-color 0.5s;
}

input[type=button]:hover {
	color: black;
	background-color: white;
	transition: color 0.35s, background-color 0.35s;
}

input[type=text], input[type=number] {
	padding-left: 3px;
	border: 2px solid white;
	border-radius: 4px;
	transition: border 0.5s;
	background-color: #303030;
	outline:none;
	color: white;
}

form.inputForm {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 10px;
	grid-auto-rows: min-content;
}

p.inputForm {
	margin: 0;
	align-self: center;
	padding-right: 5px;
}

.flagSelector {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 0px;
	grid-auto-rows: min-content;
}

img.flag {
	width: 262;
	height: 150;
	border: 6px solid #303030;
	transition: border 0.25s;
}

img.flag:hover {
	border: 6px solid #01A1FE;
	transition: border 0.25s;
}

form.settings {
	display: grid;
	grid-template-columns: 1fr 6fr;
	row-gap: 5px;
	grid-auto-rows: min-content;
	align-self: center;
}

p.settings {
	font-size: 14pt;
	margin: 0;
}

input.settings[type=checkbox] {
	-webkit-appearance: none;
	justify-self: start;
	padding: 9px;
	display: inline-block;
	position: relative;
	outline: none;
	border: 1px solid white;
	border-radius: 2px;
	transition: border-radius 0.2s, background-color 0.2s;
}

input.settings[type=checkbox]:active, input.settings[type=checkbox]:checked:active {
}

input.settings[type=checkbox]:checked {
	background-color: white;
	border-radius: 15px;
	transition: border-radius 0.2s, background-color 0.2s;
}

.textfield {
	padding: 5px;
	font-size: 24pt;
	transition: border 0.2s;
}

.textfield:focus {
	border: 2px solid #01A1FE;
	transition: border 0.2s;
}

::placeholder {
	color: #b7b7b7;
}
